$themeColor: #000;
$borderColor: #EEEEEE;

$titleSize_1: 29rpx;
$descriptionSize: 25rpx;

$mainFontColor: #343434;
$fontColor_2: #898989;
$mainFontWeight: 800;

$buttonGradient: linear-gradient(to right, #37c375, #58e998);
$buttonGradient_2: linear-gradient(to right, #eeeeee, #ffffff);

